* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
  position: relative;
  width: 100vw;
}

.container-limit {
  max-width: 1280px;
  width: 100%;
}

header {
  display: flex;
  height: 70px;
  justify-content: flex-end;
  padding: 20px;
  position: absolute;
  top: 0;
  width: 100vw;
}

#settings {
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#settings img {
  height: 30px;
}

.red {
  background-color: rgb(186, 73, 73);
  color: rgb(186, 73, 73);
  transition: all 500ms;
}

.green {
  background-color: rgb(56, 133, 138);
  color: rgb(56, 133, 138);
  transition: all 500ms;
}

.blue {
  background-color: rgb(57, 112, 151);
  color: rgb(57, 112, 151);
  transition: all 500ms;
}

.gray {
  color: #393939;
}

.selected {
  background-color: #ffffff48 !important;
}

.buttons-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 70px;
  width: 100%;
}

.buttons-container button {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
  height: 40px;
  transition: all 500ms;
  width: 150px;
}

.buttons-container button:hover {
  background-color: #ffffff1d;
  transition: all 500ms;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: #ffffff31;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 7px solid #ffffff63;
  position: relative;
}

.circle span {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: bold;
}

svg,
svg rect {
  border-radius: 100%;
  position: absolute;
  width: 350px;
  height: 350px;
  fill: transparent;
}

.circle svg rect {
  stroke: #FFFFFF;
  stroke-width: 14px;
  transition: all 500ms;
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
}

.current-count-timer {
  position: absolute;
  bottom: 0;
  font-size: 16px !important;
}

.btn-start-stop {
  margin-top: 3rem;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  border-radius: 2px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  transition: all 500ms;
}

.btn-start-stop:hover {
  background-color: #efefef;
  transition: all 500ms;
}

.container-modal {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: #0000004a;
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
}

.modal {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  position: relative;
  transition: all 500ms;
  width: 100%;
  z-index: 9999;
}

.x-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: all 200ms;
}

.x-button:hover {
  opacity: .9;
  transition: all 200ms;
}

.settings-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.input-container span {
  font-size: .8rem;
}

.input-container input {
  height: 35px;
  padding: 5px 10px;
  width: 100%;
}

#label-autoStart {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.close-button {
  background-color: #393939;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  height: 35px;
  margin-top: 2rem;
  padding: 5px 10px;
  transition: all 200ms;
  width: 100px;
}

.close-button:hover {
  opacity: .9;
  transition: all 200ms;
}